# City Revenue Budget Analysis

This project focuses on analyzing the city revenue and budget data to understand how the actual revenue compares with the planned budget across different cities and revenue types.

The objective of this analysis is to perform Exploratory Data Analysis (EDA), clean the dataset, and derive meaningful insights using Python and Pandas.

## Importing Required Libraries and Loading Dataset

In this step, we import the Pandas library and load the dataset into a DataFrame for analysis.

In [3]:
import pandas as pd

df = pd.read_csv("city revenue budget.scv.csv")
df.head()

# Remove leading and trailing spaces from column names
df.columns = df.columns.str.strip()

Finding:
The dataset is successfully loaded and column names are cleaned to avoid errors during analysis.

## Understanding the Size of the Dataset

Here, we check the number of rows and columns present in the dataset to understand its structure.

In [4]:
df.shape

(226548, 11)

Finding:
This tells us how many records (rows) and attributes (columns) are available for analysis.

## Dataset Information

The info() function provides a concise summary of the dataset including column names, data types, and non-null values.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226548 entries, 0 to 226547
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Record Key                226548 non-null  object
 1   Fiscal Year               226548 non-null  int64
 2   County Code               226548 non-null  float64
 3   County                    226548 non-null  object
 4   GNIS Feature ID           226547 non-null  float64
 5   City Code                 226548 non-null  object
 6   City Name                 226548 non-null  object
 7   Revenue Type              226548 non-null  object
 8   Budget                    226548 non-null  object
 9   Actual                    204000 non-null  object
 10  Primary City Coordinates  226548 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 19.0+ MB

In [ ]:
Finding:
We can identify missing values and understand whether columns are numerical or categorical

## Descriptive Statistics of Numerical Columns

The describe() function is used to generate statistical measures such as mean, minimum, maximum, and standard deviation.

In [7]:
df.describe()

         Fiscal Year    County Code  GNIS Feature ID
count  226548.000000  226548.000000     2.265470e+05
mean     2016.482865      50.663806     4.640504e+05
std         5.764959      28.305047     8.414184e+04
min      2007.000000       1.000000     4.540840e+05
25%      2011.000000      25.000000     4.560600e+05
50%      2016.000000      51.000000     4.585360e+05
75%      2021.000000      77.000000     4.607390e+05
max      2026.000000      99.000000     1.934403e+06

Finding:
This helps us understand the distribution and spread of numerical values like Budget and Actual revenue.

## Checking Column Names

This step ensures all column names are correct and properly formatted for further analysis.

In [8]:
df.columns

Index(['Record Key', 'Fiscal Year', 'County Code', 'County', 'GNIS Feature ID',
       'City Code', 'City Name', 'Revenue Type', 'Budget', 'Actual',
       'Primary City Coordinates'],
      dtype='object')

## Checking for Missing Values

We check for null values in each column to identify data quality issues.

In [9]:
df.isnull().sum()

Record Key                      0
Fiscal Year                     0
County Code                     0
County                          0
GNIS Feature ID                 1
City Code                       0
City Name                       0
Revenue Type                    0
Budget                          0
Actual                      22548
Primary City Coordinates        0
dtype: int64

Finding:
Some values were missing in the Budget and Actual columns.

## Handling Missing Values

Missing values in Budget and Actual columns are replaced with 0 to avoid errors in calculations.

In [11]:
df[['Budget', 'Actual']] = df[['Budget', 'Actual']].fillna(0)

Finding:
The dataset is now clean and ready for analysis.

## Removing Duplicate Records

Duplicate rows can affect analysis, so they are removed from the dataset.

In [9]:
import pandas as pd

df = pd.read_csv("city revenue budget.scv.csv")
df.head()

,Record Key,Fiscal Year,County Code,County,GNIS Feature ID,City Code,City Name,Revenue Type,Budget,Actual,Primary City Coordinates
0,2007_01G001_Miscellaneous,2007,1.0,ADAIR,454088.0,01G001,ADAIR,Miscellaneous,$100.00,"$10,436.00",POINT(-94.6435862 41.5005428)
1,2007_01G001_Property Taxes,2007,1.0,ADAIR,454088.0,01G001,ADAIR,Property Taxes,"$253,540.00","$382,976.00",POINT(-94.6435862 41.5005428)
2,2007_01G001_Proceeds of Debt,2007,1.0,ADAIR,454088.0,01G001,ADAIR,Proceeds of Debt,$-,$-,POINT(-94.6435862 41.5005428)
3,2007_01G001_TIF Revenues,2007,1.0,ADAIR,454088.0,01G001,ADAIR,TIF Revenues,"$108,614.00",$-,POINT(-94.6435862 41.5005428)
4,2007_01G001_Special Assessments,2007,1.0,ADAIR,454088.0,01G001,ADAIR,Special Assessments,$-,$-,POINT(-94.6435862 41.5005428)

In [10]:
df = df.drop_duplicates()
df.shape

(226548, 11)

 Finding:
The dataset was examined for duplicate records to ensure data accuracy.
During this step, duplicate rows were identified and removed using the drop_duplicates() function. This process helps in eliminating redundant data that could otherwise lead to incorrect analysis and misleading results.
After removing duplicates, the dataset contains only unique records, making it clean and reliable for further exploratory data analysis.